body {
  font-family: var(--dk-font);
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

header.top {
  background-color: black;
  width: auto;
  height: 45px;
}

.SONY_logo > img {
  width: auto;
  height: 18px;
  float: right;
  margin: 13px;
}

ul li {
  display: inline;
}

ul li a:hover {
  color: #0072ce;
}

ul li a:link {
  color: black;
}

.PlayStation_account > a {
  background-color: #007bc2;
  color: white;
  border-radius: 80px;
  padding: 3px 9px 3px 9px;
  font-weight: 900;
}

.PlayStation_account a:hover {
  background-color: #00439c;
  color: white;
}

nav a {
  text-decoration: none;
}

button {
  display: inline;
}
